#title {
	
	color: white;
  	font-size:24px;
  	padding: 10px 16px;
  	border: 2px solid black;
  	
 	 background: linear-gradient(to bottom, #0B1013 0%,black 100%);
  	display:inline-block;
  	border-radius: 10px;
    position:relative;


}
#mrcolumn {
  float:right;
  width:930px;
}
#fcolumn {
  float:left;
  width:360px;
}

#volumnfield {
  width:1270px;
  float:left;
  height:50px;
  text-align: center;
}
#titlefield {
	position:relative;
  display:table-cell;
  height: 100%;
  	overflow:hidden;
  text-align: center;
  vertical-align: left;
	


}

#volume {
	position: absolute;
  left:550px;
}
#cowfield {
 position:relative;
 overflow:hidden;
 
 padding: 10px;
 float:left;
 width:620px;
}

#lcolumn {
  width:280px;
  float:right;

}


#cow {
  cursor: pointer;
  background:no-repeat;
  width:640px;
  height:460px;
  position:relative;
  background-image:url(img/cow.png);
  background-size: contain;
  z-index: 99;
}
#cow:active {
  background-image: url(img/cow2.png);
  background-size: contain;
}
#cow:hover {

}
.methane{
  position:absolute;
  top:225px;
  left: 270px;
  background-image: url(img/methane.png);
  background-size:contain;
  width:200px;
  height:160px;
  background-repeat: no-repeat;
  
}
.clone{
  position:absolute;
  top:225px;
  left: 270px;
  background-image: url(cow.png);
  background-size:contain;
  width:150px;
  height:120px;
  background-repeat: no-repeat;
}

button {
  position: relative;
  border-radius: 20px;
  
}
body {
  margin:0;
  padding:0;
  color:#000;
  background:#fff;
}
#body {
    width:1300px;
    height:640px;
    margin:0 auto;
    background:#ddd;
}

span {
  color:#787878;
  font-size: 36px;
  font-family: Century;


}



@import url(http://fonts.googleapis.com/css?family=Raleway:800);
li {
  font-size: 14px;
  color: grey;
}
li.sq-btn {
    display: block;
    float: left;
    background:white;
    

    box-shadow: black 1px 1px,
     black 2px 2px,
     black 3px 3px,
     black 4px 4px,
     black 5px 5px,
     black 6px 6px;

    /*box-shadow: 0px 10px 0px 0px #B41515;*/
    margin: 10px 10px 0 0;
    width: 220px;
}
li.sq-btn:active {
    margin: 6px 4px 0 6px;
    box-shadow: none;
}
li.sq-btn a{
    font-size: 20px;
    display: block;
    padding:10px 25px;
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    text-shadow: rgb(186, 39, 39) 1px 1px,
     rgb(186, 39, 39) 2px 2px,
     rgb(186, 39, 39) 3px 3px,
     rgb(186, 39, 39) 4px 4px,
     rgb(188, 39, 39) 5px 5px,
     rgb(190, 39, 39) 6px 6px,
     rgb(192, 40, 40) 7px 7px,
     rgb(194, 40, 40) 8px 8px,
     rgb(196, 41, 41) 9px 9px,
     rgb(198, 41, 41) 10px 10px,
     rgb(201, 42, 42) 11px 11px,
     rgb(203, 42, 42) 12px 12px,
     rgb(205, 43, 43) 13px 13px,
     rgb(207, 43, 43) 14px 14px,
     rgb(209, 44, 44) 15px 15px,
     rgb(211, 44, 44) 16px 16px,
}
li.sq-btn:active a {
    text-shadow:0px 0px 2px  rgba(0,0,0,0.1);
}